*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root
{
    font-size: 62.5%;
   
}
body
{
    font-size: 3.5rem;
    background-color: peachpuff;
    font-family: 'Ephesis',cursive;
    font-weight: 500;
    height: 100vh;
}
.mainContainer
{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 5fr 1fr;
}
.libraryManagementBlock
{
    justify-self: center;
    align-self: flex-start;
}
.addBook
{
    border: none;
    background-color: rgba(255, 0, 85, 0.774);
    border-radius: 2rem;
    padding: 1rem 2rem;
    color: peachpuff;
    font-family: 'Ephesis',cursive;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.tableContainer
{
    justify-self: center;
}
caption
{
    width: max-content;
}